---
import type { Props } from "@astrojs/starlight/props";

import EditLink from "@astrojs/starlight/components/EditLink.astro";
import LastUpdated from "@astrojs/starlight/components/LastUpdated.astro";
import Pagination from "@astrojs/starlight/components/Pagination.astro";
---

<footer class="sl-flex">
  <div class="meta sl-flex">
    <EditLink {...Astro.props} />
    <LastUpdated {...Astro.props} />
  </div>
  <Pagination {...Astro.props} />

  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="NAOSI-DLUT/dut-manual"
    data-repo-id="R_kgDOM3gZIA"
    data-category="Announcements"
    data-category-id="DIC_kwDOM3gZIM4CkOpn"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="0"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async></script>
</footer>

<hr class="copyright-separator" />

<p class="copyright">
  © 2025 
  <a href="https://github.com/NAOSI-DLUT" target="_blank" rel="noopener">
    NAOSI
  </a>
  <br />
  本站内容采用
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-Hans" target="_blank" rel="noopener">
    知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议 (CC BY-NC-SA 4.0)
  </a>
  进行许可。
</p>

<style>
  footer {
    flex-direction: column;
    gap: 1.5rem;
  }
  .meta {
    gap: 0.75rem 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    font-size: var(--sl-text-sm);
    color: var(--sl-color-gray-3);
  }
  .meta > :global(p:only-child) {
    margin-inline-start: auto;
  }

  .kudos {
    align-items: center;
    gap: 0.5em;
    margin: 1.5rem auto;
    font-size: var(--sl-text-xs);
    text-decoration: none;
    color: var(--sl-color-gray-3);
  }
  .kudos :global(svg) {
    color: var(--sl-color-orange);
  }
  .kudos:hover {
    color: var(--sl-color-white);
  }

  .copyright-separator {
    border: none;
    border-top: 1px solid var(--sl-color-gray-4);
    margin: 1.5rem 0;
  }

  .copyright {
    text-align: left;       
    font-size: var(--sl-text-xs);
    color: var(--sl-color-gray-3);
    margin-top: 1rem;
  }

  .copyright a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
  }

.copyright a:hover {
    color: green;
}

</style>
